.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.5px solid black;
}
.header:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.logo {
	width: 60px;
	height: 60px;
}

.nav-bar > ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.nav-bar > ul > li {
	padding: 0 10px;
	font-size: 20px;
}
.nav-bar > ul > li:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.search-container {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.search-form {
	border: 0.5px solid black;
	border-radius: 10px;
}
.search-form:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.search-input {
	border: none;
	padding: 5px;
	border-radius: 10px 0 0 10px;
	font-size: 20px;
}
.search-input:focus {
	outline: none;
}
.search-button {
	background-color: green;
	height: 100%;
	color: wheat;
	font-size: 20px;
	border: none;
	padding: 5px;
	border-radius: 0 10px 10px 0;
}

.search-button:hover {
	cursor: pointer;
	border-radius: 0 10px 10px 10px;
}

.res-container {
  width: 95vw;
  padding: 20px;
	display: flex;
  justify-content: space-around;
	flex-wrap: wrap;
}

.res-card {
	width: 230px;
	background-color: #f0f0f0;
	padding: 0 5px 15px 5px;
	border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.res-card:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.res-logo {
	height: 50%;
	width: 100%;
  object-fit: cover;
}
.res-card-footer {
	display: flex;
	justify-content: space-around;
  padding-bottom: 10px;
}
